@import "../../styles/colors";
@import "../../styles/mixins";
@import "../../styles/variables";
@import "../../styles/animation";

.loader {
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: $primary;
  display: grid;
  place-items: center;
  z-index: 5000;
}

#logo {
  width: 13rem;
  animation: loader 4s ease-in-out;
}
