@import "../../styles/colors";
@import "../../styles/mixins";
@import "../../styles/variables";
@import "../../styles/animation";

.skills {
  position: relative;
  padding: 0 2em;
  margin: 2rem 0;

  &__splash {
    position: absolute;
    right: -60%;
    z-index: -1;
    top: -100%;

    @include for-tablet-portrait-up {
      display: none;
    }
  }

  .container {
    @include flexbox(column, center, center);
  }

  &__header {
    margin-bottom: 3rem;

    h1 {
      font-size: 5rem;
      font-weight: map-get($font-weight, bold);

      @include for-phone-only {
        font-size: 4rem;
      }
    }
  }

  &__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    grid-gap: 4em;
  }
}
